@import "tailwindcss";

body {
  margin: 0;
}

.center {
  display: grid;
  height: auto;
  background-image:url('/evening-sky.png');
  grid-template-rows: 1fr 1fr auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 90%;
}

.distilo {
  grid-column:1;
  grid-row:2;
  background-color:#303446;
  grid-template-columns:50% 50%;
  align-self: center;
}

.carousel-container {
  display: grid;
  background-color:#292c3c;
  width:100%;
  grid-auto-flow: column;
  grid-column-gap: 2%;
  place-content: stretch;
}

p, ul{
  color: #babbf1;
}

h2, h3{
  color: #8caaee;
}

a{
  color: #5c557f;
}